h1,
h2,
h3,
h4 {
  margin: 0px;
}

.app {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: helvetica;
}

.app-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.app-body {
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  padding-top: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
}

.user-select-thumbnail {
  box-shadow: 3px 3px 2px -2px rgba(0,0,0,0.2);
  width: 100px;
  height: 100px;
  margin: 2px;
}

.current-user {
  border: 2px solid #F8FFA8;
  margin: 0px;
}

.message-input-container {
  margin: 5px 0px;
  margin-bottom: 20px;
}

.posting-as {
  margin-top: 5px;
}

.italic {
    font-size: small;
    font-style: italic;
    font-weight: normal;
    color: gray;
}